.container {
    padding: 50px;
    display: flex;
    background: linear-gradient(113.5deg, rgb(234, 234, 234) 22.3%, rgb(201, 234, 211) 56.6%, rgb(255, 180, 189) 90.9%);
    color: black;
  }
  
  .item {
    flex: 1;
  }
  
  .table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
  }
  
  .button {
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .button:first-child {
    background-color: teal;
    margin-right: 10px;
  }
  
  .button:last-child {
    background-color: crimson;
  }